* {
  box-sizing: border-box;
  text-align: center;
  font-size: 0; }

.lato {
  font-family: "Lato"; }

.raleway {
  font-family: "Raleway"; }

.fl {
  float: left; }

.fr {
  float: right; }

.cf::before, .cf::after {
  display: block;
  clear: both;
  content: ""; }

.fa-bolt {
  font-size: 60px;
  color: #7a7a7a; }

.fa-heart {
  color: #fff; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  padding: 15px;
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7; }
  .header__nav {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto; }
  .header__btn {
    display: none;
    padding: 10px;
    margin-top: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer; }
    .header__btn__bar {
      display: block;
      width: 22px;
      border: 1px solid #c0c0c0; }
      .header__btn__bar:not(:first-child) {
        margin-top: 4px; }
  .header__menu > li {
    background-color: #74cfae; }
  .header__menu__link {
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    padding: 14px 12px; }
  @media (max-width: 766px) {
    .header__menu {
      display: none;
      float: none;
      clear: both;
      width: 100%;
      padding: 14px 0; }
      .header__menu__link {
        text-align: left; }
    .header__btn {
      display: block; } }

.brand {
  background-color: #f2f2f2;
  padding-top: 340px;
  padding-bottom: 250px; }
  .brand__ttl {
    color: #74cfae;
    letter-spacing: 3px;
    font-size: 90px;
    font-weight: 700; }
  .brand__subttl {
    padding-top: 20px;
    color: #c0c0c0;
    font-size: 30px;
    font-weight: 300; }
  @media (max-width: 766px) {
    .brand {
      background-color: #f2f2f2;
      padding-top: 250px;
      padding-bottom: 130px; }
      .brand__ttl {
        font-size: 80px; } }

.what {
  background-color: #74cfae;
  padding-top: 50px;
  padding-bottom: 0;
  color: #fff; }
  .what__wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto; }
  .what__img {
    display: inline-block;
    width: 457px; }
  .what__inner {
    width: 647px;
    margin-top: 20px;
    margin-left: 32px; }
  .what__ttl, .work__ttl, .skill__ttl, .skill__name {
    font-size: 24px;
    font-weight: 300; }
  .what__content, .work__inner__content {
    margin-top: 35px;
    color: #fff;
    line-height: 1.4;
    font-size: 20px;
    font-weight: 200; }
  @media (max-width: 1199px) {
    .what {
      background-color: #74cfae;
      padding-top: 50px;
      padding-bottom: 25px; }
      .what__wrapper {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 15px; }
      .what__img {
        display: block;
        float: none;
        margin: 0 auto; }
      .what__inner {
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        float: none;
        margin: 20px auto 0; } }

.work {
  background-color: #f2f2f2;
  padding-top: 60px;
  padding-bottom: 70px; }
  .work__list {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    margin: 40px auto; }
    .work__list > li {
      display: inline-block;
      margin-left: 100px; }
      .work__list > li:first-child {
        margin-left: 0; }
      .work__list > li:nth-child(4) {
        margin-top: 80px;
        margin-left: 0; }
    .work__list__img {
      opacity: .7; }
      .work__list__img:hover {
        opacity: 1; }
  .work__inner {
    width: 100%;
    max-width: 946px;
    margin: 0 auto;
    margin: 90px auto 0;
    text-align: left; }
    .work__inner__content {
      width: 100%;
      max-width: 635px;
      margin: 0 auto;
      margin: 0;
      color: #333;
      letter-spacing: 1px; }
    .work__inner__mail {
      background-color: #74cfae;
      margin-left: 90px; }
      .work__inner__mail__btn {
        display: block;
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        padding: 14px 20px; }
  @media (max-width: 1199px) {
    .work__list {
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      margin: 40px auto 0; }
      .work__list > li {
        display: block;
        margin: 0 auto; }
    .work__inner {
      width: 100%;
      margin: 80px auto 0;
      padding: 0 15px; }
      .work__inner__content {
        float: none;
        width: 100%;
        margin: 80px auto 0; }
      .work__inner__mail {
        float: none;
        display: block;
        width: 98px;
        margin: 40px auto 0; } }

.skill {
  background-color: #4e4e4e;
  padding-top: 70px;
  padding-bottom: 100px; }
  .skill__ttl {
    color: #fff; }
  .skill__list {
    width: 1030px;
    margin: 50px auto 0; }
    .skill__list > li {
      display: inline-block;
      margin-left: 180px; }
      .skill__list > li:first-child {
        margin-left: 0; }
  .skill__name {
    color: #fff;
    margin-top: 16px;
    font-size: 16px; }
  @media (max-width: 1199px) {
    .skill__list {
      width: 100%; }
      .skill__list > li {
        display: block;
        margin: 88px auto 0; }
        .skill__list > li:first-child {
          margin: 0 auto; } }

.sosial {
  background-color: #f2f2f2;
  padding-top: 200px;
  padding-bottom: 200px; }
  .sosial__list {
    width: 740px;
    margin: 0 auto; }
    .sosial__list > li {
      display: inline-block; }
    .sosial__list__item {
      display: block;
      text-decoration: none;
      color: #74cfae;
      font-size: 50px;
      width: 185px;
      padding: 30px;
      line-height: 50px; }
      .sosial__list__item:hover {
        background-color: #fff; }
  @media (max-width: 766px) {
    .sosial {
      padding: 50px 15px; }
      .sosial__list {
        width: 100%; }
        .sosial__list > li {
          display: block; }
        .sosial__list__item {
          width: 100%; } }

.footer {
  background-color: #74cfae;
  padding: 20px 15px 25px; }
  .footer__author {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    color: #fff;
    text-align: right; }

.is-active {
  display: block; }
